body {
    background-color: darkgray;
    text-align: center;
    font-family: "Architects Daughter";
    display: grid;
    grid-template-rows: 125px 75px 75px 50px 1fr 10px;
    grid-template-areas: 
        "header"
        "comment"
        "question"
        "input"
        "content"
        "footer";
}

h1 {
    font-weight: bold;
    border: solid black;
    font-size: 45px;
    grid-area: "header";
}

h3 {
    font-size: 25px;
    grid-area: "comment";
}

h4 {
    font-size: 20px;
    grid-area: "question";
}

#form {
    grid-area: "input";
}

#input {
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10%;
}

#submit {
    font-size: 15px;
    background-color: red;
    border-radius: 15%;
    border-color: black;
    font-weight: bold;
}

main {
    padding-top: 25px;
    margin-top: 10px;
    grid-area: "content";
}

footer {
    grid-area: "footer";
    align-items: center;
    grid-row: 6 / 7;
}

#userList {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
}

section {
    border: 3px solid darkred;
    margin: 10px 0 10px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
        "pic info"
        "name info";
    font-size: 18px;
    font-family: "Lato";
    background-color: whitesmoke;
}

main > section > img {
    grid-area: pic;
    border-radius: 3px;
    width: 50%;
    margin: 15px 0 0 25px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    position: relative;
}

main > section > div {
    grid-area: name;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-weight: bold;
    padding: 5px 0 0 3px;
}

main > section > p:first-child {
    grid-area: info;
    font-size: 8px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 10px;
}

main > section > p:last-child {
    grid-area: info;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: -5px;
    color: blue;
    text-decoration: underline;
    font-size: 15px;
}

button {
    font-size: 15px;
    background-color: red;
    font-weight: bold;
    border-radius: 15%;
    border-color: black;
}