body {
    background-color: darkgray;
    text-align: center;
    font-family: "Architects Daughter";
    display: grid;
    grid-template-rows: 125px 75px 75px 50px 1fr 10px;
    grid-template-areas: 
        "header"
        "comment"
        "question"
        "input"
        "content"
        "footer";
}

h1 {
    font-weight: bold;
    border: solid black;
    font-size: 45px;
    grid-area: "header";
}

h3 {
    font-size: 25px;
    grid-area: "comment";
}

h4 {
    font-size: 20px;
    grid-area: "question";
}

#form {
    grid-area: "input";
}

#input {
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10%;
}

#submit {
    font-size: 15px;
    background-color: red;
    border-radius: 15%;
    border-color: black;
    font-weight: bold;
}

main {
    padding-top: 25px;
    margin-top: 10px;
    grid-area: "content";
}

footer {
    grid-area: "footer";
    align-items: center;
    grid-row: 6 / 7;
    align-items: flex-end;
}

#userList {
    padding-top: 20px;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: space-around;
}

section {
    border: 3px solid darkred;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 18px;
    font-family: "Lato";
    background-color: whitesmoke;
    align-content: center;
}

main > section > img {
    border-radius: 3px;
    width: 50%;
    margin: 15px 0 0 25px;
    border: 1px solid black;
    align-items: center;
}

main > section > div {
    font-weight: bold;
    padding: 5px 0 0 3px;
}

main > section > p {
    font-size: 15px;
    margin-top: 40px;
    color: slategrey;
}

main > section > p:last-child {
    margin-top: -5px;
    color: blue;
    text-decoration: underline;
    font-size: 15px;
}

button {
    font-size: 15px;
    background-color: red;
    font-weight: bold;
    border-radius: 15%;
    border-color: black;
}

 @media only screen and (min-width: 789px) {
    #userList {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-around; 
    }
    main > section > img {
        align-content: center;
        width: 35%;
    }
} 